.subtitle {
  padding-top: 15px;
  color: white;
  padding-bottom: 40px;
  padding-right: 80px;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.home-banner ul li:not(:last-child) {
  padding-right: 30px;
}

.home-banner ul li:not(:last-child) a {
  background: linear-gradient(to bottom, #ff582c, #d71700);
  display: inline-block;
  line-height: 50px;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  border-radius: 24px;
}

a {
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 0;
  outline: none;
}

.home-banner ul li:not(:last-child) a:hover {
  color: darkorange;
  background: linear-gradient(to bottom, #ff5959, #ffbc45);
}

.home-banner ul li:not(:last-child) a span {
  padding: 0;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  margin-top: 0;
  margin-bottom: 0;
  display: list-item;
  text-align: -webkit-match-parent;
}

.home-banner .special-btn {
  position: relative;
  padding-right: 12px;
  font-size: 16px;
  line-height: 50px;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  z-index: 5;
}

.special-btn:hover {
  color: #ff5959;
}

.vid-btn {
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  margin-right: 12px;
  background: white;
  z-index: -1;
}

.vid-btn:before {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 99px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: all linear 0.3s;
  z-index: -1;
}

.home-banner ul li a:hover .vid-btn:before {
  width: 100%;
}

.home-banner ul li a span {
  padding: 0;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
}

.play-icon path {
  color: darkorange;
  font-size: 20px;
  line-height: 50px;
  background: linear-gradient(to bottom, #ffbc45, #ff5959);
  font-weight: 900;
}

.home-banner .image {
  position: absolute;
  bottom: -110px;
  left: 50%;
  transform: translateX(-50%);
}

/* Media Query */

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .home-banner .subtitle {
    padding-right: 0;
  }

  .home-banner ul {
    display: block !important;
  }

  .home-banner ul li:not(:last-child) {
    margin-bottom: 20px;
    width: 200px;
  }

  .home-banner ul li {
    width: 200px;
  }

  .home-banner .image {
    bottom: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .home-banner .image {
    bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-banner .subtitle {
    padding-right: 0;
  }
  .home-banner .image {
    bottom: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-banner .image {
    bottom: -10px;
  }
}
