.last-book {
  margin-top: -85px;
  padding-top: 210px;
  padding-bottom: 35px;
}

.section-title {
  padding-bottom: 55px;
  margin-top: -6px;
}

.section-title h6 {
  background: linear-gradient(to bottom, #ffbc45, #ff5959);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  font-weight: 500;
}

h6 {
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.section-title h3 {
  color: black;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
  transition: all linear 0.3s;
}

p {
  color: gray;
}

.content ul {
  padding: 20px 0;
}

.last-book-image{
  display: block;
  width: fit-content;
}



/* Media query */
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .last-book {
    margin-top: 0;
    padding-top: 80px;
    background: #f2f7fd !important;
  }

  .section-title h3 {
    font-size: 30px;
    line-height: 44px;
  }

  .last-book-image {
    margin-bottom: 40px;
    text-align: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .last-book {
    margin-top: 0;
    padding-top: 80px;
    background: #f2f7fd !important;
  }
  .last-book-image {
    margin-bottom: 40px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .last-book {
    margin-top: 0;
    padding-top: 120px;
    background: #f2f7fd !important;
  }
  .last-book-image {
    margin-bottom: 40px;
    text-align: center;
  }
}
